<app-header></app-header>
<main>
    <ul id="users">
        @for (user of users; track user.id) {
            <li>
                <app-user (select)="onSelect($event)" [user]="user" [selected]="user.id===selectedUserId"></app-user>
            </li>
        }
    </ul>

    @if (selectUser) {
        <app-tasks [userId]="selectUser.id" [name]="selectUser.name"></app-tasks>
    } @else {
        <app-card>
            <p id="fallback">Select a user to see their tasks</p>
        </app-card>
    }
</main>